<h1>Contact Name</h1>
<h2><%= @contact.first_name %></h2>
<p><%= @contact.last_name %></p>
<%= link_to "Contact Page", contacts_path %>

<h3>Meeting</h3>
<% @contact.meetings.each do |meeting| %>
  Meeting id:<%= meeting.id %>
  Note:<%= meeting.note %>
  <%= link_to 'Edit meeting note', edit_meeting_path(meeting.id)  %>
  <%= link_to 'Delete meeting note', meeting_path(meeting.id), method: :delete, data: {confirm: "Are you sure you want to delete the note?"}  %>
<%end%>

<h3>Task</h3>
<% @contact.tasks.each do |task| %>
  Task id:<%= task.id %>
  Note:<%= task.note %>
  <%= link_to 'Edit task', edit_task_path(task.id)  %>
  <%= link_to 'Delete task', task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete the task?"}  %>
<%end%>



<h5><%= link_to 'Add meeting note', new_contact_meeting_path(@contact.id) %></h5>
<h5><%= link_to 'Add reminder', new_contact_task_path(@contact.id) %></h5>
<%= link_to 'Edit contact', edit_contact_path(@contact.id)  %>
<%= link_to 'Delete 😢', contact_path(@contact.id), method: :delete, data: { confirm: 'Are you sure?' } %>
