<div class="col-sm-3 card">
    <div class="card-body">
        <h3 class="feature-title">Contact Name</h3>
        <p><%= @contact.first_name %> <%= @contact.last_name %></p>
        <%= link_to "Contact Page", contacts_path %> |
        <%= link_to 'Edit contact', edit_contact_path(@contact.id)  %> |
        <%= link_to 'Delete', contact_path(@contact.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>
<div class="col-sm-3 card">
    <div class="card-body">
        <h3 class="feature-title">Meeting</h3>
        <p><% @contact.meetings.each do |meeting| %>
            Meeting id:<%= meeting.id %>
            Note:<%= meeting.note %>
        <p><%= link_to 'Edit note', edit_meeting_path(meeting.id)  %> |
            <%= link_to 'Delete note', meeting_path(meeting.id), method: :delete, data: {confirm: "Are you sure you want to delete the note?"}  %>
        </p>
        </p>
        <%end%>
        <%= link_to 'Add note', new_contact_meeting_path(@contact.id) %>
    </div>
</div>
<div class="col-sm-3 card">
    <div class="card-body">
        <h3 class="feature-title">Task</h3>
        <p><% @contact.tasks.each do |task| %>
            Meeting id:<%= task.id %>
            Note:<%= task.note %></p>
        <%end%>
        <p><%= link_to 'Add reminder', new_contact_task_path(@contact.id) %></p>
    </div>
</div>